[Unit]
Description=Multilingual input method library

[Service]
Type=simple
ExecStart=/usr/bin/uim-xim
Environment=DISPLAY=:0
Restart=on-failure

[Install]
WantedBy=default.target

